/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

table {
    margin-bottom: 20px;
    background-color: #fff;
    color: #363636;
    border-width: 0;
    margin-left: auto;
    margin-right: auto;
}

table tbody tr:not(.is-selected):nth-child(2n) {
    background-color: #ECECEC;
}

table td, table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
}

table thead td, table thead th {
    border-width: 0 0 2px;
    color: #363636;
}

#basic-example img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
